* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    display: grid;
    grid-template-rows: 20vh 5vh 10vh repeat(3, 10.56vh) 10vh 10vh 20vh;
    grid-template-columns: 10vw repeat(6, 12vw) 18vw;
    grid-gap: .5vh;
    background-color: #fffcf4;
}

#menu {
    grid-row: 3/8;
    grid-column: 4/7;
    transition: 2s;
}

.btn {
    background-color: #F0EADB;
    border-radius: 20px;
    border: solid 2px black;
    height: 6vh;
    width: 18vw;
    margin: 2vh 10vh 2vh 10vh;
    transition: background-color 500ms;
}

.btn:hover {
    background-color: #E7926D;
    cursor: pointer;
}

#restart_btn {
    grid-row: 5/6;
    grid-column: 4/5;
}

.played_card {
    height: 13.2vw;
    width: 8.64vw;
}

.player_hand:hover {
    cursor: pointer;
    position: relative;
    bottom: 0vh;
}

.player_hand {
    transition: all 100ms ease-in 0ms;
    position: relative;
    bottom: -5vh;
}

.discarded {
    grid-row: 6/7;
    grid-column: 8/9;
    height: 10.56vw;
    width: 6.91vw;
    align-self: center;
    justify-self: center;
}

.deck {
    grid-row: 3/5;
    grid-column: 8/9;
    align-self: start;
    justify-self: center;
    height: 10.56vw;
    width: 6.91vw;
}

.deck:hover {
    cursor: pointer;
}

.trump_card {
    transform: rotate(270deg);
    z-index: -1;
    margin-right: 7vw;
}

/*Attacking Cards*/

#a1c {
    grid-row: 4/6;
    grid-column: 2/3;
    z-index: 0;
    justify-self: center;
}

#a2c {
    grid-row: 4/6;
    grid-column: 3/4;
    z-index: 0;
    justify-self: center;
}

#a3c {
    grid-row: 4/6;
    grid-column: 4/5;
    z-index: 0;
    justify-self: center;
}

#a4c {
    grid-row: 4/6;
    grid-column: 5/6;
    z-index: 0;
    justify-self: center;
}

#a5c {
    grid-row: 4/6;
    grid-column: 6/7;
    z-index: 0;
    justify-self: center;
}

#a6c {
    grid-row: 4/6;
    grid-column: 7/8;
    z-index: 0;
    justify-self: center;
}

/*Defending Cards*/

#d1c {
    grid-row: 4/7;
    grid-column: 2/3;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;
}

#d2c {
    grid-row: 4/7;
    grid-column: 3/4;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;
}

#d3c {
    grid-row: 4/7;
    grid-column: 4/5;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;
}

#d4c {
    grid-row: 4/7;
    grid-column: 5/6;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;

}

#d5c {
    grid-row: 4/7;
    grid-column: 6/7;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;
}

#d6c {
    grid-row: 4/7;
    grid-column: 7/8;
    z-index: 1;
    margin-top: 6vh;
    justify-self: center;
}

/*Player hand*/

.p1c {
    grid-row: 8/10;
    grid-column: 2/3;
    z-index: 2;
}

.p2c {
    grid-row: 8/10;
    grid-column: 3/4;
    z-index: 2;
}

.p3c {
    grid-row: 8/10;
    grid-column: 4/5;
    z-index: 2;
}

.p4c {
    grid-row: 8/10;
    grid-column: 5/6;
    z-index: 2;
}

.p5c {
    grid-row: 8/10;
    grid-column: 6/7;
    z-index: 2;
}

.p6c {
    grid-row: 8/10;
    grid-column: 7/8;
    z-index: 2;
}

.p7c {
    grid-row: 7/9;
    grid-column: 2/3;
    z-index: 1;
}

.p8c {
    grid-row: 7/9;
    grid-column: 3/4;
    z-index: 1;
}

.p9c {
    grid-row: 7/9;
    grid-column: 4/5;
    z-index: 1;
}

.p10c {
    grid-row: 7/9;
    grid-column: 5/6;
    z-index: 1;
}

.p11c {
    grid-row: 7/9;
    grid-column: 6/7;
    z-index: 1;
}

.p12c {
    grid-row: 7/9;
    grid-column: 7/8;
    z-index: 1;
}

.p13c {
    grid-row: 7/8;
    grid-column: 2/3;
    z-index: 0;
}

/* Bot Hand */
.b1c {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 2;
}

.b2c {
    grid-row: 1/2;
    grid-column: 3/4;
    z-index: 2;
}

.b3c {
    grid-row: 1/2;
    grid-column: 4/5;
    z-index: 2;
}

.b4c {
    grid-row: 1/2;
    grid-column: 5/6;
    z-index: 2;
}

.b5c {
    grid-row: 1/2;
    grid-column: 6/7;
    z-index: 2;
}

.b6c {
    grid-row: 1/2;
    grid-column: 7/8;
    z-index: 2;
}

.b7c {
    grid-row: 2/4;
    grid-column: 2/3;
    z-index: 2;
}

.b8c {
    grid-row: 2/4;
    grid-column: 3/4;
    z-index: 2;
}

.b9c {
    grid-row: 2/4;
    grid-column: 4/5;
    z-index: 2;
}

.b10c {
    grid-row: 2/4;
    grid-column: 5/6;
    z-index: 2;
}

.b11c {
    grid-row: 2/4;
    grid-column: 6/7;
    z-index: 2;
}

.b12c {
    grid-row: 2/4;
    grid-column: 7/8;
    z-index: 2;
}

